$footer-background-color: #373d42;
$footer-font-color: #999;
$footer-border-color: #777;
$footer-title-font-size: 14px;
$footer-title-color: #ddd;
$footer-icon-font-color: $footer-title-color;
$footer-icon-font-size: 44px;
$footer-item-color: #999;
$footer-item-font-size: 13px;
$footer-item-hover-color: #4456ed;

.main-footer {
    position: relative;
    color: $footer-font-color;
    background-color: $footer-background-color;
    .main-footer-content {
      .margin-block {
        margin-top: 7px;
        margin-bottom: 7px;
      }
      .margin-item {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .footer-title {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: $footer-title-font-size;
        color: $footer-title-color;
      }
      .footer-item {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: $footer-item-font-size;
      }
      a {
        color: $footer-item-color;
        text-decoration: none;
      }
      a:hover {
        color: $footer-item-hover-color;
      }
      .main-footer-top {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        .footer-top-left-box {
          border-right: 1px solid $footer-border-color;
          .footer-top-left-icon-box {
            text-align: center;
            i {
              font-size: $footer-icon-font-size;
              color: $footer-icon-font-color;
            }
          }
        }
        @media (max-width: 576px) {
          .footer-top-left-box {
            border-right: none;
          }
        }
      }
      .main-footer-middle {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 20px;
        border-top: 1px solid $footer-border-color;
        border-bottom: 1px solid $footer-border-color;
        .footer-middle-row-box {
          margin-top: 7px;
          margin-bottom: 7px;
          .footer-row-title {
            font-size: $footer-title-font-size;
            color: $footer-title-color;
          }
        }
      }
      @media (max-width: 576px) {
        .main-footer-middle {
          display: none;
        }
      }
      .main-footer-bottom {
        margin: 20px 20px 0 20px;
        padding-bottom: 20px;
      }
    }
}
