$navbar-height: 60px;
$navbar-background-color: #24282c;
$navbar-border-bottom-color: #888;
$navbar-link-color: #fff;
$navbar-link-font-size: 17px;
$navbar-item-bottom-color: transparent;
$navbar-item-bottom-hover-color: #00c1de;
$navbar-button-font-size: 30px;
$navbar-button-color: #fff;
$navbar-button-background-color: $navbar-background-color;

.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: $navbar-height;
  background-color: $navbar-background-color;
  border-bottom: 1px solid $navbar-border-bottom-color;
  .navbar-button {
    display: none;
    cursor: pointer;
    font-size: $navbar-button-font-size;
    color: $navbar-button-color;
    background-color: $navbar-button-background-color;
    border: none;
  }
  ul, li {
    list-style: none;
    box-sizing: border-box;
  }
  a {
    font-size: $navbar-link-font-size;
    color: $navbar-link-color;
    text-decoration: none;
  }

  .navbar-logo {
    margin-right: 30px;
    border-bottom: 3px solid $navbar-item-bottom-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 60px;
    a {
      height: $navbar-height;
    }
  }

  .navbar-logo-icon{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background: url("../assets/img/logo.png");
    background-size: 100% 100%;
  }

  .navbar-menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-menu-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 20px;
      .navbar-menu-item {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: $navbar-height;
        border-bottom: 3px solid $navbar-item-bottom-color;
        a {
          padding-left: 15px;
          padding-right: 15px;
          font-size: 15px;
        }
        i {
          position: absolute;
          top: 10px;
          left: 5px;
          color: #000;
          font-size: 25px;
        }
        input {
          padding-left: 30px;
        }
      }
      .navbar-menu-item:hover {
        border-bottom-color: $navbar-item-bottom-hover-color;
      }
      .navbar-menu-item.no-boder:hover {
        border-bottom-color: $navbar-item-bottom-color;
      }
    }
  }
}

@media (max-width: 769px) {
  .navbar-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    padding-top: 10px;
    .navbar-button {
      display: block;
      position: absolute;
      right: 10px;
    }
    .navbar-logo-icon{
      display: none;
    }
    .navbar-button:focus {
      outline: none !important;
    }
    .navbar-menu-wrapper {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .navbar-menu-list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .navbar-menu-item {
          height: 47px;
          i {
            top: 5px;
          }
        }
      }
    }
    .navbar-menu-wrapper.down {
      display: flex;
      height: 100%;
    }
    .navbar-menu-wrapper.up {
      height: 0;
    }
    .navbar-menu-wrapper.up-to-down {
      display: flex;
      height: 100%;
    }
    .navbar-menu-wrapper.down-animate {
      display: block;
      overflow: hidden;
      transition: height .35s ease;
    }
  }
}
