.index-body {
    background-image: url("../assets/img/bg1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .index-navigator {
        @include rem-fallback(height,
        17.75);
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: rgba(255, 165, 0, 0.5);
        .swiper-container {
            height: 100%;
            .swiper-slide {
                color: $navigator-title-color;
            }
        }
    }
}